################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoiSoftBleat/bin/Debug
/MoiSoftBleat/obj/Debug/View
/MoiSoftBleat/obj/Debug
/.vs/MoiSoftBleat/v16/Server/sqlite3
